---
layout: layout.njk  

---
{% include "header-logo.njk" %}

<div class="title">
  <h1><a href="/gallery">Galerie -</a> {{category}}</h1>
</div>

<div class="category-pictures">
  {% for i in images %}
  <div>
    <div class="gallery-picture">
      <img class="image" id="myImg" src="{{i.image}}" alt="{{category}}" width="200" alt="">
    </div>
  </div>
  {% endfor%}  
</div>

<div id="myModal" class="modal">
  <span class="close">&times;</span>
  <img class="modal-content" id="img01">
  <div id="caption"></div>
</div>

{{ content | safe }}

