* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
}

a:visited, a:link {
  color: inherit; 
}

header {
  display: flex;
  justify-content: space-between;
}

.logo {
  visibility: hidden;
}

.header-logo {
  position: absolute;
  top: 1vh;
  left: 1vw;
}

.header-logo > div {
  margin-bottom: 1.5vh;
}

.name {
  display: flex;
  justify-content: start;
  font-size: x-large;
  height: 4vh;
}

.img-logo {
  padding-left: 0.5vw;
  padding-right: 0.5vw;
}

.logo > p {
  margin-left: 2vw;
}

.burger {
 text-align: center;
 margin-right: 3vw;
 margin-top: 1.5vh;
}

menu {
  padding-top: 2vh;
  display: none ;
  box-shadow: 0px 0px 36px -7px;
  margin: auto;
  margin-top: 5vh;
  padding-bottom: 5vh;
}

.showMenu {
  display: block;
}

menu > div {
  height: 7vh;
  text-align: center;
}

.big-logo {
  position: absolute;
  top: 40%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.big-logo-push {
  position: relative;
}

.name-big-logo  {
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: xx-large;
  margin-bottom: 3vh;
}

.big-logo > p {
  display: flex;
  justify-content: center;
  margin-top: -2vh;
}

.img-big-logo {
  padding-left: 2vw;
  padding-right: 2vw;
}

.xIcon {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

/* Fade out the second bar */
.change .bar2 {opacity: 0;}

/* Rotate last bar */
.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

.title {
  padding: 2vh;
}

.category {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 3vh;
}

.category > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2vw;
  margin-bottom: 6vh;
  box-shadow: 0px 0px 36px -7px;
  padding-top: 5vh;
}

.category p {
  height: 7vh;
}  

.gallery-picture {
  width: 80vw;
  display: flex;
  justify-content: center;
  margin-bottom: 5vh;
}

.category-pictures {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.description {
  width: 70vw;
  margin: 2vh;
}

.service-picture {
  margin-top: 2vh;
}

.contact-wrapper {
  width: 80vw;
  margin: auto;
  margin-top: 5vh;
  padding-top: 3vh ;
  box-shadow: 0px 0px 36px -7px;
}

form {
  width: 80%;
  margin: auto;
}

form > h1, input, label, textarea {
  margin-top: 0.3rem;
  margin-bottom: 1rem;
  width: 100%;
  border-radius: 7px;
}

textarea {
  border: solid 2px;
}

h2 {
  font-size: calc(15px + 1vw);
  text-align: center;
  margin-bottom: 3vh;
  font-weight: normal;
}

h1 {
  font-size: calc(20px + 1vw);
  margin-top: 5vh;
  margin-left: 1vw;
  font-weight: normal;
}

.form-button {
  display: flex;
  justify-content: center;
}

button {
  width: 70%;
  margin-bottom: 1rem;
  border-radius: 7px;
}

@media screen and (min-width: 500px) {
  .description {
    width: 30vw;
    margin: 6vh;
  }

  .gallery-picture {
    width: 45vw;
  }
  .category > div > div {
    margin-top: 2vh;
    margin-bottom: 2vh;
  }
}

@media screen and (min-width: 900px) {
  .big-logo{
    position: absolute;
  }

  .description {
    width: 20vw;
    margin: 10vh;
  }

  .contact-wrapper {
    width: 50vw;
  }
 
  menu {
    display: flex;
    justify-content: flex-end;
    top: 1vh;
    right: 1vw;
    box-shadow: none;
    position: absolute; 
  }

  menu > div {
    margin-right: 3vw;
    margin-left: 2vw;
    display: inline-block;
  }
  
  .burger {
    display: none;
  }

  .gallery-picture {
    width: 25vw;
  }
}

@media screen and (min-width: 1200px) {
  .gallery-picture {
    width: 20vw;
  }

  .contact-wrapper {
    width: 40vw;
  }
}

#myImg {
  /*border-radius: 5px;*/
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.9); 
}


.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}







