---
layout: layout.njk
---
{% include "header-logo.njk" %}

<div class="title">
  <h1>Contact</h1>
</div>

<div id="a" class="contact-wrapper" >
  <h2>Formulaire de contact</h2>
<form name="contact" data-netlify="true" action="/confirmation/index.html">
    
  
      <label for="name">Nom et prénom</label>
      <input type="text" id="name" required>

      <label for="email">Adresse e-mail</label>
      <input type="email" id="email" required>
    
      <label for="message">Message</label>
      <textarea name="" id="message" cols="30" rows="10" required></textarea>
      <div class="form-button">
        <button type="submit">Envoyer</button>
      </div>
</form>
</div>









