---
layout: layout.njk
---
{% include "header-logo.njk" %}
<div class="category">
{% for category in collections.gallery %}
  
    <div>
      <a href="{{category.url}}"><p>{{ category.data.category }}</p></a>
      <div>
        <img src="{{category.data.image}}" width="200vw" alt="">
      </div>
    </div>
  
{% endfor %}
</div>