---
layout: layout.njk
---
{% include "sub-header.njk" %}

{%- for category in collections.category  -%}
  <div class="category">
    <a href="{{category.url}}"><h3>{{ category.data.category }}</h3></a>
    <img src="{{category.data.image}}" width="200vw" alt="">
  </div>
  
{% endfor %}