---
layout: layout.njk
---
{% include "header-logo.njk" %}

<h2>Services</h2>
<div class="category">
{% for service in collections.services %}
  
    <div>
      <p>{{ service.data.service }}</p>
      <p>{{ service.data.price }}</p>
      <p>{{ service.data.description }}</p>
     
    </div>
  
{% endfor %}
</div>