---
layout: layout.njk
---
{% include "header-logo.njk" %}

<h2>Services
</h2>
<div class="category">
{% for service in collections.services %}
  
    <div>
      <p>{{ service.data.service }}</p>
      <div>
        <img src="{{service.data.image}}" width="200vw" alt="">
      </div>
      <p>{{ service.data.description }}</p>
      <p>Prix: {{ service.data.price }} euros </p>
      
     
    </div>
  
{% endfor %}
</div>