---
layout: layout.njk
---
{% include "header-logo.njk" %}

<div class="title">
  <h1>Tarifs et prestations</h1>
</div>

<div class="category">
{% for service in collections.services %}
  
    <div>
      <h2>{{ service.data.service }}</h2>
      <div>
        <img class="service-picture" src="{{service.data.image}}" width="200vw" alt="">
      </div>
      <div class="description">{{ service.data.description }}</div>
      <div>Prix: {{ service.data.price }} euros </div>
    </div>
  
{% endfor %}
</div>