* {
  margin: 0;
  padding: 0;
  font-family: Verdana;
  text-decoration: none;
  color: #FACC70;
}

body {
  background-image: url(img/photo2.jpg);
  background-size: auto;
} 

a:visited, a:link {
  color: inherit; 
}

header {
  display: flex;
  justify-content: space-between;
}

.logo {
  visibility: hidden;
}

.header-logo {
  position: absolute;
  top: 1vh;
  left: 1vw;
}

.header-logo > div {
  margin-bottom: 1.5vh;
}

.photographer {
  font-size: 20px;
}

.name {
  display: flex;
  justify-content: start;
  font-size: x-large;
  height: 4vh;
}

.name > p {
  margin-left: -0.3vw;
}

.img-logo {
  padding-left: 0.5vw;
  padding-right: 0.5vw;
}

.logo > p {
  margin-left: 2vw;
}

.name-big-logo > p {
  margin-left: -0.3vw;
}

i {
  font-size: 25px;
}

.burger {
 text-align: center;
 margin-right: 3vw;
 margin-top: 1.5vh;
}

menu {
  padding-top: 2vh;
  display: none ;
  box-shadow: 0px 0px 36px -7px black;
  margin: auto;
  margin-top: 5vh;
  padding-bottom: 5vh;
  background-color: #DE7A22;
  margin-left: 15vw;
  margin-right: 15vw;
}

.showMenu {
  display: block;
}

menu > div {
  height: 7vh;
  text-align: center;
}

.big-logo {
  position: absolute;
  top: 40%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.big-logo-push {
  position: relative;
}

.name-big-logo  {
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 10vw;
  margin-bottom: 3vh;
}

.big-logo > p {
  display: flex;
  justify-content: center;
  margin-top: -2vh;
}

.img-big-logo {
  padding-left: 2vw;
  padding-right: 2vw;
}

.xIcon {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #DE7A22;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

.title {
  padding: 2vh;
}

.category {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 3vh;
}

.category > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2vw;
  margin-bottom: 6vh;
  box-shadow: 0px 0px 36px -7px black;
  padding-top: 5vh;
  background-color: #6AB187;
}

.category p {
  height: 7vh;
}

.gallery-picture {
  width: 80vw;
  display: flex;
  justify-content: center;
  margin-bottom: 5vh;
  margin: auto;
  padding-bottom: 7vh;
}

.category-pictures {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.description {
  width: 70vw;
  margin: 2vh;
  font-family: 'Courier New', Courier, monospace;
  color: black;
}

.service-picture {
  margin-top: 2vh;
}

.contact-wrapper {
  width: 80vw;
  margin: auto;
  margin-top: 5vh;
  margin-bottom: 5vh;
  padding-top: 3vh ;
  box-shadow: 0px 0px 36px -7px black;
  background-color: #6AB187;
}

form {
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin: auto;
}

form > h1, input, label, textarea {
  margin: auto;
  margin-top: 1vh;
  margin-bottom: 1vh;
  width: 60vw;
  border-radius: 7px;
  font-family: 'Courier New', Courier, monospace;
  color: black;
}

.form-button {
  display: flex;
  justify-content: center;
}

button {
  width: 30vw;
  margin-top: 2vh;
  margin-bottom: 3vh;
  border-radius: 7px;
  background-color: #0000FF;
  color: white;
  padding-bottom: 1vh;
  padding-top: 0.5vh;
  box-shadow: 0px 0px 36px -7px black;
  border: none ;
}

textarea, input {
  border: solid 1px black;
}

input {
  height: 4vh;
}

h2 {
  font-size: calc(20px + 1vw);
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  margin-bottom: 3vh;
  font-weight: normal;
  color: black;
  
}

h1 {
  font-size: calc(20px + 1vw);
  margin-top: 5vh;
  margin-left: 1vw;
  font-weight: lighter;
  font-style: italic;
}

#myImg {
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {
  opacity: 0.7;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.9); 
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  width: 100%;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.price {
  margin-bottom: 3vh;
  font-family: 'Courier New', Courier, monospace;
  color: black;
}

.image {
  box-shadow: 0px 0px 36px -7px black;
}

.confirmation-message {
  display: flex;
  width: 80vw;
  margin: auto;
  text-align: center;
  background-color: #b8f1c0;
  position: relative;
  margin-top: 7vh;
  background-color: #6AB187;
  box-shadow: 0px 0px 36px -7px black;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.backHome {
  width: 60vw;
  margin-top: 2vh;
  margin-bottom: 2vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
  background-color: #0000FF;
  color: white;
  border: none;
  box-shadow: 0px 0px 36px -7px black;
}

form > p {
  color: black;
}

@media screen and (min-width: 500px) {

  body {
    background-image: url(img/photo4.jpg);
    background-size: auto;
  }

  .description {
    width: 30vw;
    margin: 6vh;
  }

  .gallery-picture {
    width: 45vw;
  }
  .category > div > div {
    margin-top: 2vh;
    margin-bottom: 2vh;
  }

  .contact-wrapper {
    width: 65vw;
    display: flex;
    margin: auto;
    margin-bottom: 5vh;
  }

  form > h1, input, label, textarea, button {
    width: 50vw;
  }

  button {
    width: 20vw;
  }

  .confirmation-message {
    width: 50vw;
    padding-left: 2vw;
    padding-right: 2vw;
  }

  .backHome {
    width: 40vw;
  }

  .name-big-logo > p {
    margin-left: -1vw;
    font-size: 8vw;
  }

  i {
    font-size: 30px;
  }
}

@media screen and (min-width: 850px) {

  body {
    background-image: url(img/photo7.jpg);
    background-size: cover;
  }

  menu {
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1vh;
  }

  h2 {
    font-size: calc(15px + 1vw);
    margin-right: 6vw;
    margin-left: 6vw;
  }

  h1 {
    font-size: calc(15px + 1vw);
  }

  .big-logo{
    position: absolute;
  }

  .description {
    width: 20vw;
    margin: 5vh;
  }

  .contact-wrapper {
    width: 40vw;
    display: flex;
    margin: auto;
    margin-bottom: 5vh;
  }

  form > h1, input, label, textarea, button {
    width: 30vw;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
  }

  button {
    margin-top: 5vh;
    margin-bottom: 5vh;
    width: 15vw;
  }
 
  menu {
    display: flex;
    justify-content: flex-end;
    top: 1vh;
    right: 1vw;
    box-shadow: none;
    position: absolute; 
  }

  menu > div {
    margin-right: 2vw;
    margin-left: 1vw;
    display: inline-block;
  }
  
  .burger {
    display: none;
  }

  .gallery-picture {
    width: 25vw;
  }

  .modal-content {
    width: 350px;
  }

  .image {
    width: 60%;
  }

  .service-picture {
    display: block;
    width: 80%;
    margin: auto;
  }

  .category-pictures {
    width: 100vw;
  }

  .category > .services-layout {
    width: 25%;
  }

  .galleryMainImage {
    width: 50%;
  }

  .category > div {
    width: 20%;
  }

  .confirmation-message {
    width: 30vw;
  }

  .backHome {
    width: 25vw;
  }

  .name-big-logo > p {
    margin-left: -1.5vw;
    font-size: 7vw;
  }

  i {
    font-size: 40px;
  }
}

@media screen and (min-width: 1200px) {

  .gallery-picture {
    width: 20vw;
  }

  .contact-wrapper {
    width: 35vw;
  }

  button {
    width: 10vw;
  }

  .backHome {
    width: 17vw;
  }

  .confirmation-message {
    width: 20vw;
  }

  .name-big-logo > p {
    font-size: 6vw;
  }

  i {
    font-size: 60px;
  }
}

@media only screen and (min-width: 550px){
  .modal-content {
    width: 400px;
  }
}



